<main class="homepage">
  <%= render "shared/banner" %>

  <section class="ribbon">
    <p>Have a recipe to share? <%= link_to "Contribute here", new_cocktail_path, class: "" %></p>
  </section>
  <section class="all-recipes">
    <div class="container">
      <div class="row">
        <% @cocktails.each do |cocktail| %>
          <div class="col-6 col-md-4 col-xl-3">
            <div class="recipe-card">
              <%= cl_image_tag cocktail.photo, class: "recipe-card-image" %>
              <!-- <div class="recipe-card-image"></div> -->
              <%= link_to cocktail.name, cocktail_path(cocktail), class: "recipe-card-link" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</main>


