.banner {
  display: flex;
  min-height: 300px;
  padding: 50px 20px;
  background: #ddd;
  align-items: center;
  justify-content: center;
  text-align: center;

  .banner-wrapper {
    width: 480px;
  }

  h1 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 3rem;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 1.125rem;
    letter-spacing: .5px;
    font-family: $body-font;
  }
}
